* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    position: relative;
}
a {
    text-decoration: none;
}
#audio{
    display: block;
    height: 5vh;
    width: 40vw;
    margin: 0 auto;
    margin-top: 2vh;
}

#titlevisual {
    display: block;
    height: 93vh;
    margin: 0 auto;
}
iframe {
    width: 100vw;
    height: 100vh;
}
#startGame {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    #startGameLink {
        font-size: 80px;
    }
}

#background {
    width: 100vw;
    height: 100vh;
    filter: blur(2px) grayscale(90%);
}
#characterBox {
    width: 80vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    img {
        position: absolute;
        height: 90vh;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

#textBox {
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 85vw;
    .textBoxFrame {
        position: relative;
        z-index: 3;
        width: 85vw;
        bottom: 1vh;
        left: 0;
        right: 0;
        margin: auto;
    }
    .speakerName {
        position: absolute;
        font-size: 2.8vw;
        z-index: 10;
        width: 85%;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .speakText {
        position: absolute;
        font-size: 1.5vw;
        z-index: 10;
        width: 85%;
        top: 85px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .skipButton {
        font-size: 24px;
        color: rgb(0, 0, 0);
        position: absolute;
        z-index: 10;
        bottom: 5vh;
        right: 0;
        margin-right: 5vw;
        padding: 10px;
        float: right;
        border: solid rgb(119, 144, 255);
        border-radius: 20%;
        cursor: pointer;
        background: rgb(156, 227, 255);
    }.skipButton:hover {
        color: rgb(24, 32, 32);
        border: solid rgb(80, 109, 238);
        background: rgb(193, 236, 255);
    }
}

#quizBackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(10px);
}
#quizContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .quizImg{
        height: 65vh;
        margin-bottom: 20px;
    }
    .quizText {
        font-size: 2vw;
        color: #fff;
    }
    #answerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 30vh;
        width: 40vw;
        #answer {
            background: rgb(204, 255, 224);
            border: none;
            color: rgb(0, 0, 0);
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 20px;
            width: 100%;
            text-align: center;
        }
    }
    .hide {
        display: none;
        font-size: 80px;
        color: rgb(255, 125, 125);
    }
    .nextBtn {
        font-size: 50px;
        color: rgb(87, 171, 250);
    }
}

#answerBtn {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background: rgb(103, 188, 209);
}
#answerBtn:hover {
    background: rgb(64, 153, 165);
}
