* {
    margin: 0;
    padding: 0;
    user-select: none;
}
body {
    height: 100vh;
    width: 100vw;
    position: relative;
}
a {
    text-decoration: none;
}

#audio {
    position: absolute;
    bottom: 90vh;
    left: 20px;
    display: none;
}

#titlevisual {
    display: block;
    height: 100vh;
    margin: 0 auto;
}
iframe {
    width: 100vw;
    height: 100vh;
    display: none;
}
#startGame {
    margin-top: 20vh;
    margin-bottom: 20vh;
    height: 40vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
    #startGameLink {
        font-size: 80px;
    }
}
#footer{
    bottom: 0;
    height: 20vh;
    text-align: center;
    display: none;
    p{
        padding-top: 9vh;
    }
}

#background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    filter: blur(2px) grayscale(50%);
}
#characterBox {
    position: absolute;
    height: 100vh;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    img {
        width: 100vw;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

#textBox {
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: serif;
    font-weight: 600;
    width: 85vw;
    .textBoxFrame {
        position: relative;
        z-index: 3;
        width: 85vw;
        bottom: 1vh;
        left: 0;
        right: 0;
        margin: auto;
    }
    .speakerName {
        position: absolute;
        font-size: 2.8vw;
        z-index: 10;
        width: 55%;
        top: 20px;
        left: 5vw;
        right: 0;
    }
    .speakText {
        position: absolute;
        font-size: 1.5vw;
        z-index: 10;
        width: 75%;
        top: 85px;
        left: 5vw;
        right: 0;
        max-height: 20vh;
    }
    .skipButton {
        font-size: 1.8vw;
        position: absolute;
        z-index: 10;
        bottom: 7vh;
        right: 0;
        margin-right: 5vw;
        cursor: pointer;
        padding: 8px;
    }
    .exskip {
        position: absolute;
        z-index: 20;
        width: 40vw;
        height: 90vh;
    }
}

#quizBackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(10px);
}
#quizContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .quizImg {
        height: 65vh;
        margin-bottom: 20px;
    }
    .quizText {
        font-size: 2vw;
        color: #fff;
    }
    #answerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40vw;
        #answer {
            background: rgb(204, 255, 224);
            border: none;
            color: rgb(0, 0, 0);
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 20px;
            width: 100%;
            text-align: center;
        }
    }
    .clear {
        display: none;
        font-size: 80px;
    }
    .notClear {
        display: none;
        font-size: 80px;
    }
    .notClearHint{
        display: none;
    }
    .nextBtn {
        font-size: 50px;
    }
    p {
        color: rgb(247, 101, 101);
    }
}
.notClear {
    display: none;
}
#answerBtn {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background: rgb(103, 188, 209);
}
#answerBtn:hover {
    background: rgb(64, 153, 165);
}

.btn {
    border: solid;
    border-radius: 1rem;
    padding: 3rem;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(49, 44, 44);
}
.btn:hover {
    background: rgb(49, 44, 44);
    color: rgb(255, 255, 255);
}

table,
td {
    width: 90vw;
    margin: 0 auto;
    margin-top: 2vh;
}
th,
td {
    padding: 20px 15px;
    border-bottom: 2px solid;
}
th {
    font-size: 30px;
}
.tableLeft {
    width: 20vw;
    text-align: center;
    background: rgb(218, 218, 218);
    font-size: 20px;
}
.tableRight {
    width: 70vw;
    font-size: 19px;
}
.logLink {
    border: solid;
    border-radius: 1rem;
    padding: 1rem;
    width: 10vw;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    background: rgb(255, 255, 255);
    color: rgb(101, 147, 247);
}
.logLink:hover {
    background: rgb(255, 255, 255);
    color: rgb(247, 101, 101);
}

.linkBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 90vw;
}
.quizLink {
    border: solid;
    border-radius: 1rem;
    padding: 1rem;
    width: 10vw;
    text-align: center;
    cursor: pointer;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background: rgb(255, 255, 255);
    color: rgb(101, 147, 247);
}
.quizLink:hover {
    background: rgb(255, 255, 255);
    color: rgb(247, 101, 101);
}
